<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="B2CDevSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    
    <B2CDevSync.Properties.Settings>
      <setting name="AADAuthority" serializeAs="String">
        <value>https://login.microsoftonline.com/{0}</value>
      </setting>
      <setting name="B2BApi" serializeAs="String">
        <value>https://graph.microsoft.com/beta/trustFramework/policies/{0}</value>
      </setting>
      <setting name="SyncAppId" serializeAs="String">
        <value>79ce0569-549a-46d5-b98b-b0e9c8f04f25</value>
      </setting>
      <setting name="B2CTenant" serializeAs="String">
        <value>hackerdemob2c.onmicrosoft.com</value>
      </setting>
      <setting name="Configured" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RedirectUri" serializeAs="String">
        <value>http://B2CSyncApp</value>
      </setting>
      <setting name="PopupDuration" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="StorageConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="StorageContainerName" serializeAs="String">
        <value>b2c</value>
      </setting>
      <setting name="SyncStorageBool" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UIPath" serializeAs="String">
        <value />
      </setting>
      <setting name="PolicyPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SyncPolicyBool" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverwritePoliciesBool" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FacebookAppId" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowMessageBoxOnError" serializeAs="String">
        <value>True</value>
      </setting>
    </B2CDevSync.Properties.Settings>
  </userSettings>
</configuration>
